rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // True if the user is authenticated through firebase auth as one of the listed emails
    function isAdmin() {
      return request.auth.token.email == 'stevetest@test.com' || request.auth.token.email == 'nicktest@test.com'
    }
    match /{document=**} {
      allow read, write: if request.auth != null && isAdmin()
    }
  }
}
